<main id="home">
  <div class="heading">
    <div class="search-section">
      <h2>Find what you looking for.</h2>
      <div class="search-box">
        <form id="formSearch" action="" method="POST">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" type="text" name="data" placeholder="Find your professor..." aria-label="Search">
              <div class="input-group-append">
                <button class="btn input-group-text">
                  <i class="fal fa-search"aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </form>       
      </div>
      <div class="socials">
        <a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social-link"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
  <div class="introduce">
    <h2>What can RateMyProfessors do?</h2>
    <div class="hr"></div>
    <div class="features row">
      <div class="col-md-4">
        <div class="feature">
          <img src="./img/home/feature-1.png" alt="">
          <h4>Find a professor</h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature">
          <img src="./img/home/feature-2.png" alt="">
          <h4>Find a school</h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature">
          <img src="./img/home/feature-3.png" alt="">
          <h4>Rate a professor</h4>
        </div>
      </div>
    </div>
    <div class="quote">
      <p class="content">“RateMyProfessors is beautiful, elegant and easy to apply. I’ve been able to apply for an amazing rate in just a minutes. Thank you very much for creating this impressive service!”</p>
      <p class="author">Lam Thanh Loc</p>
      <p class="company">Director of Team 16 HCMUS</p>
    </div>
  </div>
  <div class="top-rate">
    <h2>Top rate</h2>
    <div class="hr"></div>
    <ul class="top">
      <li class="person">Phạm Trọng Thắng</li>
      <li class="person">Lam Thanh Loc</li>
      <li class="person">Lam Thanh Loc</li>
      <li class="person">Lam Thanh Loc</li>
      <li class="person">Lam Thanh Loc</li>
    </ul>
    <div class="see-more">
      <a href="#">see more</a>
    </div>
  </div>
  <div class="need-help">
    <h2><i class="far fa-life-ring"></i><br/>Need Help?</h2>
    <div class="hr"></div>
    <p>Contact our Customer Support that is always ready to help you with any possible questions, problems or information.</p>
    <h3>support@ratemyprofessor.com</h3>
  </div>
</main>