<main id="login">
  <h1>Log in</h1>
  <p class="signup"><a href="/signup">Don't have an account? Sign up!</a></p>
  <form id="formLogin" action="" method="POST">
    <div class="form-group">
      <input type="text" name="username" class="form-control" placeholder="Username">
    </div>
    <div class="form-group">
      <input type="password" name="password" class="form-control" placeholder="Password">
    </div>
    <div class="form-group submit">
      <button type="submit" class="btn">
        NEXT
      </button>
    </div>
  </form>
  <p><a href="#">Forgot password?</a></p>
  <p class="rule">You are logging into RateMyProfessors.com, which is designed for and targeted to U.S. audiences and is governed by and operated in accordance with U.S. laws. By clicking the log in button, you (1) acknowledge that you have read and hereby agree to this site's Terms of Use and (2) consent to the collection, use and disclosure of information as described in this site's Privacy Policy</p>
</main>
<script src="/js/login.js"></script>