<main id="register">
  <h1>Create new account</h1>
  <p class="signup">Do you have an account? Sign in!</p>
  <form action="" method="POST" id="formSignup">
    <div class="form-group">
      <input type="text" name="username" class="form-control" placeholder="Username (*)">
    </div>
    <div class="form-group">
      <input type="email" name="email" class="form-control" placeholder="Email (*)">
    </div>
    <div class="form-group">
      <input type="password" name="password" class="form-control" placeholder="Password (*)">
    </div>
    <div class="form-group">
      <input type="password" name="repassword" class="form-control" placeholder="Repassword (*)">
    </div>
    <div class="form-group">
      <input type="text" name="name" class="form-control" placeholder="Fullname (*)">
    </div>
    <div class="form-group">
      <input type="text" name="school" class="form-control" placeholder="School">
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" name="term" type="checkbox"/>
        <label class="form-check-lable">I agree to the Terms of Use and Privacy Policy. By checking the box, you also understand that you are registering for RateMyProfessors.com, which is governed by and operated in accordance with U.S. laws and consent to the collection, use and disclosure of information as described in this site's Privacy Policy</label>
      </div>
    </div>
    <div class="form-group submit">
      <button type="submit" class="btn">
        Sign up
      </button>
    </div>
  </form>
</main>
<script src="/js/user.js"></script>