<main id="search">
  <h1>Search Results for <b>"Tran Minh Triet"</b>: 16 results</h1>
  <div class="search-box">
    <form>
      <div class="form-group search">
        <div class="input-group">
          <input class="form-control" type="text" value="Tran Minh Triet" placeholder="Find the professor/school/something..." aria-label="Search">
          <div class="input-group-append">
            <button class="btn input-group-text">
              <i class="fal fa-search"aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-6">
          <label class="col-form-label">Filter</label>
          <select class="form-control" name="filter">
            <option value="0" selected>All</option>
            <option value="1">Teacher</option>
            <option value="2">School</option>
          </select>
        </div>
        <div class="col-6">
        </div>
      </div>
    </form>       
  </div>
  <div class="results">
    <div class="results-heading">
      <div class="th">Category</div>
      <div class="th">Name</div>
      <div class="th">School</div>
    </div>
    <div class="results-body">
      <ul>
        <li>
          <a href="#">
            <span class="th cate"><i class="fas fa-chalkboard-teacher"></i>Teacher</span>
            <span class="th name">Tran Minh Triet</span>
            <span class="th">HCMUS</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="th cate"><i class="fas fa-school"></i>School</span>
            <span class="th name">HCMUS</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</main>