<main id="teacher">
  <div class="heading">
    <div class="col-left">
      <div class="avatar">
        <img src="./img/avatar.jpg" alt="">
      </div>
    </div>
    <div class="col-right">
      <h1>Tran Minh Triet</h1>
      <h3><span>Professor</span> in the Computer Science department</h3>
      <h2>HCMUS - VNU</h2>
      <div class="rating">
        <h3 class="rate"><span>3.5</span><small>/5</small></h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="far fa-star"></i>
        </div>
        <h4 class="count">
          <span>500</span> nguoi danh gia
        </h4>
      </div>
    </div>
  </div>
  <div class="info">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga id facilis fugit veniam quasi necessitatibus laborum, quia incidunt dolorum, quod repellendus quisquam sapiente minus voluptatibus! Reprehenderit assumenda nobis et labore.
  </div>
  <div class="post">
    <form id="rate">
      <div class="col-left">
        <div class="stars">
          <p>Rate:</p>
          <input type="radio" id="5star" name="rating" value="5" />
          <label title="5 star" for="5star"></label>
          <input type="radio" id="4star" name="rating" value="4" />
          <label title="4 star" for="4star"></label>
          <input type="radio" id="3star" name="rating" value="3" />
          <label title="3 star" for="3star"></label>
          <input type="radio" id="2star" name="rating" value="2" />
          <label title="2 star" for="2star"></label>
          <input type="radio" checked="true" id="1star" name="rating" value="1" />
          <label title="1 star" for="1star"></label>
        </div>
      </div>
      <div class="col-right">
        <textarea class="form-control rate-content" placeholder="Write your comment...."></textarea>
        <button class="btn rate-submit" type="submit">RATE</button>
      </div>
    </form>
  </div>
  <div class="comments">
    <div class="comment top">
      <div class="col-left">
        <div class="stars">
          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
        </div>
        <div class="react">
          <button class="btn-react btn like"><i class="fas fa-thumbs-up"></i> <span class="badge">4</span></button>
          <button class="btn-react btn dislike"><i class="fas fa-thumbs-down"></i> <span class="badge">4</span></button>
          <button class="btn-report btn"><i class="fas fa-flag"></i></button>
        </div>
      </div>
      <div class="col-right">
        <div class="top"><span><i class="fas fa-star"></i> Useful comment</span></div>
        <div class="metadata">
          <span class="author">Lam Thanh Loc</span>
          <span class="time">03:12 20/11/2019</span>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti numquam labore ullam dolorum quo explicabo libero saepe sapiente distinctio a iusto, dolores, quae alias asperiores, cum id eligendi. Cum, at.</p>
      </div>
    </div>
    <div class="comment top">
      <div class="col-left">
        <div class="stars">
          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
        </div>
        <div class="react">
          <button class="btn-react btn like"><i class="fas fa-thumbs-up"></i> <span class="badge">4</span></button>
          <button class="btn-react btn dislike"><i class="fas fa-thumbs-down"></i> <span class="badge">4</span></button>
          <button class="btn-report btn"><i class="fas fa-flag"></i></button>
        </div>
      </div>
      <div class="col-right">
        <div class="top"><span><i class="fas fa-star"></i> Useful comment</span></div>
        <div class="metadata">
          <span class="author">Lam Thanh Loc</span>
          <span class="time">03:12 20/11/2019</span>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti numquam labore ullam dolorum quo explicabo libero saepe sapiente distinctio a iusto, dolores, quae alias asperiores, cum id eligendi. Cum, at.</p>
      </div>
    </div>
    <div class="comment">
      <div class="col-left">
        <div class="stars">
          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
        </div>
        <div class="react">
          <button class="btn-react btn like"><i class="fas fa-thumbs-up"></i> <span class="badge">4</span></button>
          <button class="btn-react btn dislike"><i class="fas fa-thumbs-down"></i> <span class="badge">4</span></button>
          <button class="btn-report btn"><i class="fas fa-flag"></i></button>
        </div>
      </div>
      <div class="col-right">
        <div class="metadata">
          <span class="author">Lam Thanh Loc</span>
          <span class="time">03:12 20/11/2019</span>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti numquam labore ullam dolorum quo explicabo libero saepe sapiente distinctio a iusto, dolores, quae alias asperiores, cum id eligendi. Cum, at.</p>
        <div class="replies">
          <p class="reply-text"><a href="#"><i class="fas fa-reply"></i> Reply</a></p>
          <div class="reply">
            <div class="metadata">
              <span class="author">Lam Thanh Loc</span>
              <span class="time">03:12 20/11/2019</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti numquam labore ullam dolorum quo explicabo libero saepe sapiente distinctio a iusto, dolores, quae alias asperiores, cum id eligendi. Cum, at.</p>
          </div>
          <div class="reply">
            <div class="metadata">
              <span class="author">Lam Thanh Loc</span>
              <span class="time">03:12 20/11/2019</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti numquam labore ullam dolorum quo explicabo libero saepe sapiente distinctio a iusto, dolores, quae alias asperiores, cum id eligendi. Cum, at.</p>
          </div>
          <form class="reply reply-form">
            <textarea class="form-control reply-content" placeholder="Write your reply...."></textarea>
            <button class="btn reply-submit" type="submit">Reply</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>